<mat-card>
  <mat-card-content>
    <div class="book-info">
      <div class="info">
        <p>{{name}}</p>
        <mat-form-field *ngIf="rated">
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="editableName">
        </mat-form-field>
      </div>
      <div class="info">
        <p class="description">{{description}}</p>
        <mat-form-field *ngIf="rated">
          <mat-label>Description</mat-label>
          <input matInput [(ngModel)]="editableDescription">
        </mat-form-field>
      </div>
      <div class="info">
        <p>{{author}}</p>
        <mat-form-field *ngIf="rated">
          <mat-label>Author</mat-label>
          <input matInput [(ngModel)]="editableAuthor">
        </mat-form-field>
      </div>
    </div>
    <h1 *ngIf="avgRating.length !== 0">Current Rating : <span>{{calculateAverage(avgRating) | number:'1.2-2'}}</span></h1>
    <app-rating-bar [rating]="rating" (ratingUpdated)="onRatingChanged($event)"></app-rating-bar>
    <button [id]="'next'" mat-icon-button id="next" *ngIf="rated" (click)="nextBook()">
      <mat-icon>arrow_right</mat-icon>
    </button>
  </mat-card-content>
</mat-card>